#main {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0, 4), rgba(0, 0, 0, 0, 4)), url(img.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

#inputs {
    text-align: center;
    width: 25rem;
    height: 28rem;
    box-shadow: 10px 10px 15px coral;
    position: relative;
    margin: 6% auto;
    border-radius: 1rem;
    font-weight: bolder;
    background-color: #12475f;
    padding: 8px;
    color: white;
}

input {
    font-weight: bolder;
    background-color: white;
    border: none;
    margin: 10px;
    padding: 10px;
    box-shadow: 4px 4px 10px black;
    border-radius: 9px;
    font-size: 23px;
}

button {
    font-weight: bolder;
    background-color: white;
    border: none;
    margin: 10px;
    padding: 10px;
    box-shadow: 4px 4px 10px black;
    border-radius: 9px;
    font-size: 25px;
}